* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
  color: royalblue;
}

.main-content,
body {
  padding: 10px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: black;
  font-size: 30px;
}

ul {
  list-style: none;
}
